<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Horas</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" type="text/css" href="css/footer.css"/>
    <script src="js/gethour.js" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <header>
    <h2>Sistema de Controle de Horas</h2>


    </header>
    
    <main>
        <section class="input_hour_system">
        
        <div class="info">
                Dia <b><span class="date_number"></span></b><br>
                Hoje é: <b><span class="date"></span></b><br>
                Hora: <b><span class="time"></span></b>
            
        </div>
            <h4>Aperte o botão para registrar seu ponto!</h4>
        <form class="form_input">
            <button type="text" class="input_hour" id="input_hour">Bater ponto</button>
            <button type="text" class="show_inputs" id="show_inputs">Mostrar ponto</button>           
        </form>
        </div>
        
        </section>
    </main>

    
    
</body>

<footer>
    <span>
        Sistema desenvolvido por Ricardo Giantomaso. 2023.
    </span>
    </footer>
</html>